# --- Core Data Science ---
numpy
pandas
matplotlib
plotly
seaborn
tqdm

# --- Machine Learning & Deep Learning ---
torch
torchvision
torchinfo
scikit-learn
medmnist

# --- Environnement ---
ipykernel
nbformat